// COLORS
$primary-color: #ff8777;
$secondary-color: #9e0a0a;

$white-color: rgb(231, 231, 231);

$dark-grey: #2c2a2a;

$dark-blue-text: #151038; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
