// COLORS
$primary-color: #0B2647;
$secondary-color: #A8943d;

$white-color: #F4F4F4;

$dark-grey: #2c2a2a;

$dark-blue-text: #041121; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
